.row {
  color: white;
  margin-left: 0.2vw;
}
.row__posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 1vh 1vw 1vh 0.2vw;
}
.row__posters::-webkit-scrollbar {
  display: none;
}
.row__poster {
  object-fit: contain;
  width: 18vw;
  max-height: auto;
  margin-right: 0.2vw;
  transition: transform 450ms;
}

.row__poster:hover {
  transform: scale(1.08);
}
.row__posterLarge {
  max-height: 250px;
}
.row__posterLarge:hover {
  transform: scale(1.09);
}
.viewDetail {
  display: flex;
}
.viewContent {
  width: 45vw;
}
.youtube {
  width: 50vw;
}
.titleReview {
  padding: 1vh 0 3vh 0;
}
.voteCount {
  padding: 0 0 2vh 0;
}
