body {
  background-color: black;
}
.card-list {
  display: grid;
  grid-template-columns: repeat(5, 19vw);
  padding: 1vh 1vw 1vh 1vw;
  width: 95vw;
}

.card {
  width: 18vw;
  height: auto;
  padding-left: 0.1vw;
  color: white;
}
.form {
  padding: 10vh 10vw 2vh 30vw;
}
.input {
  width: 20vw;
}
.label {
  color: white;
  padding: 2vh 2vw 5vh 1vw;
}
/* .viewDetail {
  display: flex;
} */
.youtube {
  width: 40vw;
  color: white;
}
.poster img {
  width: 15vw;
  padding: 1vw 1vh 1vw 1vh;
}
.name {
  width: 15vw;
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  padding: 1vh 1vw 1vh 1vw;
}
.previous {
  width: 12vw;
  height: 5vh;
  font-size: small;
}
.next {
  width: 8vw;
  height: 5vh;
  font-size: small;
}
.inputPage input {
  width: 2vw;
  height: 4vh;
  font-size: small;
}
.inputPage {
  width: 3vw;
  height: 5vh;
  padding: 0 1vw 0 1vw;
  font-size: small;
}
.paginate {
  display: flex;
  padding: 0.5vh 0.5vw 0.5vh 0.5vw;
}
.frontBar {
  display: flex;
}
.mediaType {
  padding: 0 10vw 0 10vw;
}
.year {
  padding: 0 10vw;
}
.genre {
  padding: 0 0 0 1.5vw;
}